<%= form_with(model: letter, local: true, id: 'new_letter') do |form| %>
  <% if letter.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% letter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
　<div class="letter">
      <div class="field to_box">
        <%= form.text_field :to_name, id: :letter_to_name, :placeholder => "宛名" %>
      </div>
      <div class="field msg_box">
        <%= form.text_area :message, id: :letter_message, :placeholder => "メッセージ" %>
      </div>
      <div class="field from_box">
        <%= form.text_field :from_name, id: :letter_from_name, :placeholder => "送り主" %>
      </div>
     <%= form.submit :投函する, class: 'btn actions' %>
  </div>
  <%= form.submit :投函する, class: 'phone_btn actions' %>

<% end %>
