<%= form_with(model: letter, local: true) do |form| %>
  <% if letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(letter.errors.count, "error") %> prohibited this letter from being saved:</h2>

      <ul>
      <% letter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :from_name %>
    <%= form.text_field :from_name, id: :letter_from_name %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :letter_message %>
  </div>

  <div class="field">
    <%= form.label :to_name %>
    <%= form.text_field :to_name, id: :letter_to_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
