<p id="notice"><%= notice %></p>

<h1>Letters</h1>
<div class="letters-container">
  <% @letters.each do |letter| %>
      <div class="coverTemplate">
        <%= letter.to_name  %>

      </div>
      <div><%= image_tag letter.image.url if letter.image? %></div>
      <div><%= link_to 'Show', letter %></div>
  <% end %>
</div>


<br>

<%= link_to 'New Letter', new_letter_path %>
