<!DOCTYPE html>
<html>
  <head>
    <title>Letter | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <meta property="og:title" content='あなたへの手紙' />
    <meta content=<%= url_for(only_path: false) %> property="og:url">
    <meta property="og:image" content=<%= yield(:image) %> />
    <meta property="og:description" content='メッセージを簡単に送れる時代だからこそ、手紙の良さを引き出したい。ネットなのに日頃の思いを伝えられるようなサービスです。お母さんから娘へ、気になるあの子へ、手紙を書いてみませんか？' />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
