<!DOCTYPE html>
<html>
  <head>
    <title>Letter | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <meta property="og:title" content='君に手紙を書いたよ' />
    <meta content=<%= url_for(only_path: false) %> property="og:url">
    <meta property="og:image" content=<%= yield(:image) %> />
    <meta property="og:description" content='毎日の思いを伝えよう' />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
